<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/global.css" />
  </head>
  <body ng-app="manager">
    <div id="header"></div>
    <div class="nav-right-holder"></div>
    <div class="container" ng-controller="PointController">
      <div class="page-header">
        <h1>Points to be tested</h1>
        
      </div>
      <div class="alert alert-info" role="alert" ng-hide="points &amp;&amp; points.length > 0">
        There are no points yet.
      </div>
      <form class="form-horizontal" role="form">
        <div ng-repeat="point in points">
          <div class="form-group">
            <div class="col-xs-9">
              <label>
                <span>{{point.title}}</span>
              </label>
            </div>
            <div class="col-xs-3">
              <button class="pull-right btn btn-success" type="button" title="Update" ng-if="point.editting" ng-click="changeButtonFlag(point);updatePoint(point)">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button class="pull-right btn btn-primary" type="button" title="Edit" ng-if="!point.editting" ng-click="changeButtonFlag(point);">
                <span class="glyphicon glyphicon-edit"></span>
              </button>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <div class="alert alert-info" role="alert" ng-if="point.editting">
                <span>{{point.description}}</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <textarea placeholder="You can enter your results or outcomes here..." class="form-control" ng-if="point.editting" style="height: 200px;" ng-model="point.detail"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12"><a target="_blank" href="/view/point/point-answer.html?pid={{point.pid}}" ng-if="point.editting">TextArea已经满足不了我，我要图文并茂大书特书</a></div>
          </div>
        </div>
        
      </form>
    </div>
    <!-- <footer class="footer text-center"><p>&copy; 2016 TimeItem, Inc.</p></footer> -->
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./app/common/page-layout-init.js"></script>
    <script type="text/javascript" src="./app/manager/manager.js"></script>
    <script type="text/javascript" src="./app/manager/controllers.js"></script>
    <script type="text/javascript" src="./app/manager/services.js"></script>
  </body>
</html>