<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iyihua.daixi.mapper.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.iyihua.daixi.model.Item" >
    <id column="iid" property="iid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="piid" property="piid" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    iid, name, piid, type, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from item
    where iid = #{iid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from item
    where iid = #{iid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iyihua.daixi.model.Item" >
    insert into item (iid, name, piid, 
      type, status)
    values (#{iid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{piid,jdbcType=INTEGER}, 
      #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.iyihua.daixi.model.Item" >
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="iid != null" >
        iid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="piid != null" >
        piid,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="iid != null" >
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="piid != null" >
        #{piid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iyihua.daixi.model.Item" >
    update item
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="piid != null" >
        piid = #{piid,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where iid = #{iid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iyihua.daixi.model.Item" >
    update item
    set name = #{name,jdbcType=VARCHAR},
      piid = #{piid,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT}
    where iid = #{iid,jdbcType=INTEGER}
  </update>
  
  <sql id="findItemsByParamsCommon">
		from item i where 1=1
		<if test="name != null">
			and i.name = #{name}
		</if>
		<if test="piid != null">
			and i.piid = #{piid}
		</if>
		<if test="type != null">
			and i.type = #{type}
		</if>
		<if test="status != null">
			and i.status = #{status}
		</if>
	</sql>
	<select id="findItemsByParams" parameterType="com.iyihua.daixi.model.Item"
		resultMap="BaseResultMap">
		select
		i.*
		<include refid="findItemsByParamsCommon" />
		<!-- 
		<if test="start != null and size != null and page != null and page > 0 and start > -1">
			limit #{start}, #{size}
		</if>
		 -->
	</select>
	<select id="countItemsByParams" parameterType="com.iyihua.daixi.model.Item"
		resultType="Integer">
		select count(*)
		<include refid="findItemsByParamsCommon" />
	</select>
</mapper>