<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iyihua.daixi.mapper.PointMapper" >
  <resultMap id="BaseResultMap" type="com.iyihua.daixi.model.Point" >
    <id column="pid" property="pid" jdbcType="INTEGER" />
    <result column="iid" property="iid" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="scores" property="scores" jdbcType="TINYINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    pid, iid, description, type, scores, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from point
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from point
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iyihua.daixi.model.Point" >
    insert into point (pid, iid, description, 
      type, scores, title)
    values (#{pid,jdbcType=INTEGER}, #{iid,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{scores,jdbcType=TINYINT}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iyihua.daixi.model.Point" >
    insert into point
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="iid != null" >
        iid,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="scores != null" >
        scores,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="iid != null" >
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="scores != null" >
        #{scores,jdbcType=TINYINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iyihua.daixi.model.Point" >
    update point
    <set >
      <if test="iid != null" >
        iid = #{iid,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="scores != null" >
        scores = #{scores,jdbcType=TINYINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iyihua.daixi.model.Point" >
    update point
    set iid = #{iid,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      scores = #{scores,jdbcType=TINYINT}
      title = #{title,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  
  <sql id="findByParamsCommon">
		from point i where 1=1
		<if test="iid != null">
			and i.iid = #{iid}
		</if>
		<if test="description != null">
			and i.description = #{description}
		</if>
		<if test="type != null">
			and i.type = #{type}
		</if>
		<if test="scores != null">
			and i.scores = #{scores}
		</if>
		<if test="title != null">
			and i.title = #{title}
		</if>
	</sql>
	<select id="findByParams" parameterType="com.iyihua.daixi.model.Point"
		resultMap="BaseResultMap">
		select
		i.*
		<include refid="findByParamsCommon" />
		<!-- 
		<if test="start != null and size != null and page != null and page > 0 and start > -1">
			limit #{start}, #{size}
		</if>
		 -->
	</select>
	<select id="countByParams" parameterType="com.iyihua.daixi.model.Point"
		resultType="Integer">
		select count(*)
		<include refid="findByParamsCommon" />
	</select>
	
</mapper>