<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iyihua.daixi.mapper.UserPointMapper">
	<resultMap id="BaseResultMap" type="com.iyihua.daixi.model.UserPoint">
		<id column="upid" property="upid" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="BIGINT" />
		<result column="detail" property="detail" jdbcType="VARCHAR" />
		<result column="options" property="options" jdbcType="TINYINT" />
		<result column="score" property="score" jdbcType="TINYINT" />
	</resultMap>
	<resultMap id="UserPointDetailMap" type="com.iyihua.daixi.model.UserPoint">
		<id column="upid" property="upid" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="uid" property="uid" jdbcType="BIGINT" />
		<result column="iid" property="iid" jdbcType="INTEGER" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="TINYINT" />
		<result column="scores" property="scores" jdbcType="TINYINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="detail" property="detail" jdbcType="VARCHAR" />
		<result column="options" property="options" jdbcType="TINYINT" />
		<result column="score" property="score" jdbcType="TINYINT" />
	</resultMap>
	<sql id="Base_Column_List">
		upid, uid, pid, detail, options, score
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_point
		where upid = #{upid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from user_point
		where upid = #{upid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.iyihua.daixi.model.UserPoint" useGeneratedKeys="true" keyProperty="upid">
		insert into user_point (upid, uid, pid, detail,
		options, score)
		values (#{upid,jdbcType=INTEGER}, #{uid,jdbcType=BIGINT}, #{pid,jdbcType=INTEGER},
		#{detail,jdbcType=VARCHAR},
		#{options,jdbcType=TINYINT}, #{score,jdbcType=TINYINT})
	</insert>
	<insert id="insertSelective" parameterType="com.iyihua.daixi.model.UserPoint" useGeneratedKeys="true" keyProperty="upid">
		insert into user_point
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="upid != null">
				upid,
			</if>
			<if test="uid != null">
				uid,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="detail != null">
				detail,
			</if>
			<if test="options != null">
				options,
			</if>
			<if test="score != null">
				score,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="upid != null">
				#{upid,jdbcType=INTEGER},
			</if>
			<if test="uid != null">
				#{uid,jdbcType=BIGINT},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="detail != null">
				#{detail,jdbcType=VARCHAR},
			</if>
			<if test="options != null">
				#{options,jdbcType=TINYINT},
			</if>
			<if test="score != null">
				#{score,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.iyihua.daixi.model.UserPoint">
		update user_point
		<set>
			<if test="uid != null">
				uid = #{uid},
			</if>
			<if test="pid != null">
				pid = #{pid},
			</if>
			<if test="detail != null">
				detail = #{detail},
			</if>
			<if test="options != null">
				options = #{options},
			</if>
			<if test="score != null">
				score = #{score},
			</if>
		</set>
		where upid = #{upid}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.iyihua.daixi.model.UserPoint">
		update user_point
		set 
		uid = #{uid,jdbcType=BIGINT},
		pid = #{pid,jdbcType=INTEGER},
		detail = #{detail,jdbcType=VARCHAR},
		options = #{options,jdbcType=TINYINT},
		score = #{score,jdbcType=TINYINT}
		where upid = #{upid,jdbcType=INTEGER}
	</update>
	<select id="findUserPoints" parameterType="com.iyihua.daixi.model.query.PointQuery"
		resultMap="UserPointDetailMap">
		select p.*, t.detail, t.options, t.score, t.uid, t.upid from point p
		left join
		(
		select up.* from user_point up where up.uid=#{uid}
		) t
		on p.pid=t.pid
		<if test="iid != null">
			and p.iid = #{iid}
		</if>
		<if test="type != null">
			and p.type = #{type}
		</if>
	</select>
	<sql id="findByParamsCommon">
		from user_point up left join point p on up.pid=p.pid where 1=1
		<if test="uid != null">
			and up.uid = #{uid}
		</if>
		<if test="pid != null">
			and up.pid = #{pid}
		</if>
		<if test="iid != null">
			and up.iid = #{iid}
		</if>
	</sql>
	<select id="findByParams" parameterType="com.iyihua.daixi.model.UserPoint"
		resultMap="UserPointDetailMap">
		select up.*, p.iid, p.description, p.type, p.scores, p.title
		<include refid="findByParamsCommon" />
	</select>
</mapper>